  body {
    background-color: rgb(22, 52, 150);
 }

 /* #box {
     background-color: #fff;
     color: black;
     border: 1px solid black ;
     width: 20%;
     height: 500px;

 }

 #box h3 {
     text-align: center;
 }
 
 #box p {
    text-align: center;
 } */ 


 .form-input {
    width: 100%;
    padding: 10px 0;
}
.sidebar {
    height: 500px;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}
.bg-dark {
    background-color:  #fff;
     color: black;
     padding: 15px;
     padding-bottom: 10px;
     
     
     
 }
 .label {
     text-align: left !important;
 }
 .bg-dark h1 ,p {
     text-align: center;
 }

 .bg-dark a {
     text-decoration: none;
 }

 .button {
    background-color: rgb(12, 172, 92);
    color: #fff;
    font-size: 15px;
    padding: 5px 150px;
    margin-left: 10px;
    border-radius: 5px;
 }


 .login-here p {
    color: #fff;
 }
 .login-here a {
     color: rgb(12, 172, 92);
     text-decoration: none;
 }